.mobile-scroll {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: var(--color-white);
}

.mobile-scroll__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(50vh - 25px) 0 calc(50vh - 25px);
}

.mobile-genre-divider {
  position: relative;
  width: 70%;
  height: 0;
  margin: 0;
  padding: 0;
}

.mobile-genre-divider--right {
  align-self: flex-start;
}

.mobile-genre-divider--left {
  align-self: flex-end;
}

.mobile-genre-divider__line {
  position: absolute;
  left: 16px;
  right: 0;
  top: 0;
  height: 1px;
  background: var(--color-black);
}

.mobile-genre-divider__label {
  position: absolute;
  left: 16px;
  bottom: 2px;
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 700;
  color: var(--color-black);
  text-transform: lowercase;
  white-space: nowrap;
}

.mobile-genre-divider--left .mobile-genre-divider__line {
  left: 0;
  right: 16px;
}

.mobile-genre-divider--left .mobile-genre-divider__label {
  left: auto;
  right: 16px;
}

.mobile-genre-divider--first {
  top: -10px;
}

.mobile-tile {
  width: 10vw;
  max-width: 120px;
  aspect-ratio: 1 / 1;
  margin: 4px 0;
  overflow: hidden;
  will-change: transform;
}

.mobile-tile img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
